.drone{
    background-image: url(../img/galerias.fw.png);
    width: 150px;
    height: 50px;
    background-position: -20px -170px;
    display: inline-block;
}

#drones{
    display: inline-block;
    margin-top: 40px;
}

#drone2{
    margin-left: 255px;
}

#drone3{
    margin-left: 130px;
}

#footer{
    background-color: #1B8E99;
    height: 96px;
}

#logotipo{
    background-image: url(../img/galerias.fw.png);
    display: inline-block;
    height: 50px;
    width: 140px;
    background-position: -140px -110px;
    margin-left: 10px;
    margin-top: 5px;
}

p{
    display: inline-block;
    margin: 10px;
    font-family: tahoma, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

#footerever{
    background-color: #660000;
    height: 26px;
    margin-top: 15px;
}

#frase1{
    position: absolute;
    margin-top: 13px;
    width: 600px;
}

#frase2{
    margin-top:48px;
    position: absolute;
}

#frase3{
    margin-top: 3px;
    margin-left: 800px;
}

#bortola{
    background-image: url(../img/galerias.fw.png);
    height: 190px;
    width: 100px;
    background-position: -280px 0px;
    display: inline-block;
    position: absolute;
    margin-left: 700px;
    margin-top: -95px;
}